{% extends 'adminpanel.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
        <title>Categories</title>
    {% endblock title %}
    {% load static %}

</head>
<body>
{% block pagewisecontent %}


    <div class="container">

        {% include 'message.html' %}
        <div style="margin-top: 7%" class="row">
            <div class="col-xl-8 m-auto order-xl-1">
                <div style="background-color: transparent" class="card shadow ">
                    <div style="background-color: #149b89" class="card-header  border-0">
                        <div class="row align-items-center">

                            <div class="col-6">
                                <h3 style="color: white" class="mb-0">Add Category</h3>
                            </div>
                            <div class="col-6">
                                <h3 style="color: white" class="mb-0 ml-2">Add Subcategory</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <form method="post" action="{% url 'addcat' %}">
                                        {% csrf_token %}
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-name">Category Name</label>
                                            <input type="text" id="input-name"
                                                   class="form-control form-control-alternative"
                                                   name="catname" placeholder="Enter Category">
                                        </div>
                                        <div class="form-group focused">

                                            <button style="background-color:#149b89; color: white"
                                                    class="form-control form-control-alternative"> Add Category
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-6">
                                    <form method="post" action="{% url 'addsubcat' %}">
                                        {% csrf_token %}
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-subcategory">Subcategory
                                                Name </label>
                                            <input type="text" id="input-subcategory"
                                                   class="form-control form-control-alternative" name="subcatname"
                                                   placeholder="Enter Subcategory">
                                        </div>
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-subcategory">category
                                                Name </label>
                                            <select required name="catid" type="text" id="input-subcategory"
                                                    class="form-control form-control-alternative">
                                                <option selected DISABLED>Chose Category</option>
                                                {% for cat in categories %}
                                                    <option style="  color: black"
                                                            value="{{ cat.id }}">{{ cat.Cat_name }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                        <div class="form-group focused">

                                            <button style="background-color:#149b89; color: white"
                                                    class="form-control form-control-alternative"> Add Subcategory
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock pagewisecontent %}
</body>
{% block javascript %}
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>
{% endblock javascript %}
</html>